.elements__element {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 22px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .elements__element {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .elements__element {
    max-width: 282px;
    margin: 0 auto;
    padding-bottom: 22px;
  }
}
