.form__input-error {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: red;
  font-size: 12px;
  line-height: 15px;
  padding: 0;
  margin: 5px 0 0 0;
  box-sizing: border-box;
  min-height: 30px;
  visibility: hidden;
}

.form__input-error_active {
  visibility: visible;
}
