.page__profile {
  margin: auto;
}

@media screen and (max-width: 1023px) {
  .page__profile {
    margin: 0 50px;
    padding: 0 13px;
  }
}

@media screen and (max-width: 767px) {
  .page__profile {
    margin: 0 19px;
    padding: 0;
  }
}
